// reset
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ol,
ul,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
pre {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// color
$--light-grey: #eee;
$--dark-grey: #666;
$--white: #fff;
$--black: #000;
$--grey: #888;
$--clear-blue: #06f;
$--red: #f00;
$--purple: #c8e;
$--green: #9e9;

// style
html {
  background: $--light-grey;
  margin: 0;
  padding: 1rem 0;
  font-size: 13px;
}

body {
  background: $--white;
  color: $--black;
  width: 210mm;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: sans-serif;
  font-feature-settings: 'palt' 1;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 2;
}

code {
  font-family: monospace;
  font-weight: 500;
  padding-left: 0.1em;
  padding-right: 0.1em;
  background: #ccc;
}

em {
  font-weight: 500;
  font-style: italic;
  padding-left: 0.1em;
  padding-right: 0.3em;
  text-decoration: underline;
}

strong {
  font-weight: 900;
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-decoration: underline;
}

a {
  color: $--clear-blue;
  text-decoration: underline;
}

a:hover {
  color: $--red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 2rem;
  font-weight: 900;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 3px double $--black;
}

h3 {
  font-size: 1.6rem;
  border-bottom: 1px solid $--black;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p,
pre,
ul,
ol,
dl,
blockquote,
table {
  margin: 0 2rem 2rem;
}

blockquote {
  *:last-child {
    margin-bottom: 0;
  }
}

p {
  line-height: 2;
}

pre {
  line-height: 2;
  border: 0;
  border-radius: 0;
  overflow: hidden;
  white-space: pre-wrap;
  padding: 1rem;
  background: $--light-grey;
}

pre code {
  font-weight: 500;
  border: 0;
  background: inherit;
}

ol,
ul {
  margin-left: calc(2rem + 1em);
}

li > ul,
li > ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin: 4rem 2rem;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $--grey;
  height: 1px;
}

blockquote {
  border-width: 0 0 0 0.25em;
  border-style: solid;
  border-color: $--grey;
  padding: 0.5em 1em;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-width: 1px 0 0 1px;
  border-color: $--grey;
  border-style: solid;
}

th {
  font-weight: 900;
  text-align: center;
}

td {
  font-weight: 500;
  text-align: left;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
  padding: 0.5em;
  border-width: 0 1px 1px 0;
  border-color: $--grey;
  border-style: solid;
}

table > tbody > tr:first-child > th,
table > tbody > tr:first-child > td {
  border-top: 1px solid $--grey;
}

table > tbody > tr + tr > td {
  border-top: 0;
}

img {
  display: block;
  margin: 0 auto 2rem;
  max-width: 90%;
  height: auto;
}

.bordered-image img {
  border: 1px solid $--black;
}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 13mm;
    @bottom-center {
      content: 'test';
    }
  }

  html {
    background: $--white;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-before: auto;
    break-before: auto;
  }

  pre {
    background-color: transparent;
    color: $--black;
    border: 1px solid $--black;
  }

  hr {
    border-color: $--black;
  }

  blockquote {
    border-color: $--black;
  }

  table {
    border-color: $--black;
  }

  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    border-color: $--black;
  }

  table > tbody > tr:first-child > th,
  table > tbody > tr:first-child > td {
    border-top: 1px solid $--black;
  }

  table > tbody > tr + tr > td {
    border-top: 0;
  }

  a {
    color: $--black;
    text-decoration: none;
  }

  .group {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  section {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .footnote-backref {
    display: none;
  }
}
